body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  /* background-image: url('images/minor-planets.jpg'); */
  font-family: Arial;
  /* text-align: center; */
}

.how_to {
  text-align: center;
}

.my-modal {
  background-color: #282c34;
}

.tombol {
  text-align: center;
}

.modal-backdrop {
  background-color: green;
}

.container-xl {
  /* border-color: white; */
  /* border-style: solid; */
}
.container-fluid {
  /* border-color: white; */
  /* border-style: solid; */
}

.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.1;
}

.haha {
  font-family: 'Jost', sans-serif;
  font-weight: 500;
}
.h1 {
  font-weight: bolder;
  /* line-height: 1.3; */
}
.row {
  /* border-color: yellow; */
  /* border-style: solid; */
}

.how-to {
  color: blue;
  font-size: large;
  margin-left: 10px;
}

.col {
  /* border-style: solid; */
}
